//
// Styles for Forms
// --------------------------------------------------

label {
  display: block;
}

.chosen-container {
  max-width: 100%;
}

.form-type-checkboxes {

    .form-checkboxes .form-item, .form-radios .form-item {
       margin-top: -0.4em;
    }

    label {
      display: block;
      text-indent: -2px;
      margin-bottom: 15px
    }

}

form .table-responsive {
  overflow-x: inherit;
}

// Datepicker
table.ui-datepicker-calendar {
  display: table !important;

  thead {
    display: table-header-group !important;

    tr {
      position: static !important;
    }
  }

  tbody {
    display: table-row-group !important;
  }

  tr {
    display: table-row !important;
  }

  th, td {
    display: table-cell !important;
  }

  th {
    padding: 5px 1px !important;
    border: none;
    background: none;
    color: $text-color;
  }

  td {
    padding: 1px !important;
    border: none !important;

    a {
      text-align: center;
      font-style: normal;

      &:hover, &:focus {
        color: $text-color;
      }
    }
  }
}

